version: 0.1.{build}

branches:
  only:
    - master
    - develop

image:
- Visual Studio 2017
- Ubuntu

environment:
  CMAKE_BUILD_TYPE: Release

build_script:
- sh: >-
    mkdir build

    cd build

    cmake ..

    cmake --build . --config Release

- cmd: >-
    mkdir build

    cd build

    cmake -G "Visual Studio 15 2017 Win64" ..

    cmake --build . --config Release

test_script:
- sh: ctest --output-on-failure -C Release
- cmd: ctest --output-on-failure -C Release

artifacts:
  - path: build/CoreBufferC
    name: CoreBufferC

  - path: Testing/Temporary/LastTest.log
    name: LastTest.log

