version: 0.1.{build}

branches:
  only:
    - master
    - develop

image:
- Visual Studio 2017
- Ubuntu

environment:
  CMAKE_BUILD_TYPE: Release

build_script:
- sh: >-
    mkdir build

    cd build

    cmake ..

    cmake --build . --target all

test_script:
- sh: ctest --output-on-failure

